# CertFile and KeyFile are the paths to the cert file and the
# private key file for the domains handled by this server.
# In this example, you should set up the cert file and private key file
# to work for littleroot.org, foo.com, sub.foo.com.
CertFile = "path/to/my.cert.pem"
KeyFile = "path/to/my.key.pem"

# Optional path to well-known directory. This directory is only served over
# HTTP. Typically this directory contains ACME challenges to serve.
WellKnown = "path/to/well-known/"

# Hosts maps request hosts -> internal server addresses.
[Hosts]
"littleroot.org" = "localhost:8000"
"foo.com" = "localhost:9000"
"sub.foo.com" = "localhost:9002"
